@import "hover";
@import url("https://fonts.googleapis.com/css?family=Commissioner");
@import url("https://fonts.googleapis.com/css?family=Roboto");
$tertiary: #f8f9fb;
$danger: #c9281d;
$warning: #f8b859;
$success: #86d130;
$grid-breakpoints: (
    sm: 768px,
    md: 992px,
    lg: 1600px
);

.hover {
    @include standard-hover;
}

.hover-success {
    @include standard-hover($bg-color: mix(white, $success, 60%))
}

.hover-danger {
    @include standard-hover($bg-color: mix(white, $danger, 60%))
}

.bg-tertiary {
    background-color: $tertiary;
}

.py-card-header {
    padding: 0.45rem 0rem 0.45rem;
}

.c-danger {
    color: $danger;
}

.c-success {
    color: $success;
}

.c-warning {
    color: $warning;
}

.btn-white {
    background-color: white;
    border-color: white;
}

.h-font {
    font-family: Commissioner, Georgia, Times, serif;
}
