$tertiary: #f8f9fb;
$hover-color: #f2dac0;
$recipe-width: 350px;
$spacer-single: 0.3rem;
$spacer-double: 0.6rem;
$spacer-triple: 0.9rem;

.recipe {
  display: inline-block;
  padding: 0 $spacer $spacer $spacer;
  background-color: $tertiary;
  border: $border-width solid $border-color;
  @include border-radius;
  @include box-shadow;
  outline: 0;
  width: $recipe-width;
  
  .name {
    padding-bottom: $spacer-single;
  }

  .tags {
    background-color: $secondary;
    border-radius: 12px;
    padding: $spacer-double $spacer-triple;
    margin: $spacer-single 0;
    
    &:hover {
      background-color: $hover-color;
      transition: all ease-in-out 300ms;
    }
  }
  
  margin: $grid-gutter-width;
  // On mobile, span entire width
  @include media-breakpoint-down(sm) {
    display: block;
    width: 90%;
    margin-right: $grid-gutter-width;
  }
}
.recipe:last-of-type {
  margin-right: $grid-gutter-width;
}
