@import "hover";
@import "main";
$box-width: 350px;
$spacer-single: 0.3rem;
$spacer-double: 0.6rem;
$spacer-triple: 0.9rem;

.navbox {
  display: inline-block;
  padding: $spacer;
  border: $border-width solid white;
  @include border-radius;
  box-shadow: 0 1rem 3rem rgba($black, .275);
  outline: 0;
  width: $box-width;
  
  .title {
    padding-bottom: $spacer-single;
  }

  .tag {
    background-color: $secondary;
    border-radius: 12px;
    padding: $spacer-double $spacer-triple;
    margin: $spacer-single 0;
    text-align: left;
    
    @include standard-hover;
  }
  
  margin: $grid-gutter-width;
  // On mobile, span entire width
  @include media-breakpoint-down(sm) {
    display: block;
    width: 90%;
    margin-right: $grid-gutter-width;
  }
}
.navbox:last-of-type {
  margin-right: $grid-gutter-width;
}
